
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPost</title>
</head>
<body>
    Welcome @ViewBag.Username!
    Your password is @ViewBag.Password.
</body>
</html>
