@model CoreFormsAndValidations.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StronglyTypedLogin</title>
</head>
<body>
    @using(Html.BeginForm("LoginSuccess", "Account", FormMethod.Post))
    {
        <div>
            Username: @Html.TextBoxFor(m => m.Username);
        </div>
        <div>
            Password: @Html.PasswordFor(m => m.Password);
        </div>
        <input type="submit" value="Login" />
    }
</body>
</html>
